<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Serlo-Team Portal</title>
		<link href="./favicon.ico" rel="icon" type="image/x-icon">
		<link rel="stylesheet" href="./style.css">
		<script type="text/javascript" src="script.js"></script>
		<script type="text/javascript">
			$(document).ready( function () {
				$('table').DataTable();
			} );
		</script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="#">Serlo-Team Portal</a>
			</nav>
		</header>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
					<ul class="nav nav-pills flex-column">
						{% macro toc_item(name) %}
						<li class="nav-item"><a class="nav-link" href="#{{name|urlencode}}">{{name}}</a></li>
						{% endmacro %}
						{{ toc_item("Projekte") }}
					</ul>
				</nav>
			</div>
			<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
				<h1 id="projects">Projekte</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Projektname</th>
							<th>Lama</th>
							<th>Projektbeschreibung</th>
							<th>Projektmitglieder</th>
						</tr>
					</thead>
					<tbody>
						{% for project in projects %}
						<tr>
							<td>{{ project.name }}</td>
							<td>{{ project.lama.name }}</td>
							<td>{{ project.description }}</td>
							<td>
								<ul>
									{% for person in project.members %}
									<li>{{ person.name }}</li>
									{% endfor %}
								</ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</body>
</html>
