<!DOCTYPE html>
<html lang="de">

{% macro section(name) %}
	<h1 id="{{name|urlencode}}">{{name}}</h1>
{% endmacro %}

{% macro generate_list(list, list_type="ul") %}
	<{{list_type}}>
		{% for element in list %}
			<li>
				{{ caller(element) }}
			</li>
			{% endfor %}
	</{{list_type}}>
{% endmacro %}

{% macro generate_table(rows, headers) %}
	<table class="table">
		<thead>
			<tr>
				{% for header in headers %}
					<th>{{header}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{{ caller(row) }}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro print_person(obj) %}
	<a href="#{{obj.id}}">{{ obj.name }}</a>
{% endmacro %}

	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, follow">
		<title>Serlo-Team Portal</title>
		<link href="./favicon.ico" rel="icon" type="image/x-icon">
		<link rel="stylesheet" href="./style.css">
		<style type="text/css">
		@media (min-width: 768px) {
			.sidebar {
				position: sticky;
				top: 0;
				height: 100vh;
				box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
			}
		}

		.sidebar .nav-link {
			font-weight: 500;
			color: #333;
		}

		.sidebar .nav-link.active {
			color: #007bff;
		}

		table td {
			min-width: 25ex;
		}
		</style>
		<script type="text/javascript" src="script.js"></script>
		<script type="text/javascript">
			$(document).ready( function () {
				$('table').DataTable({
					"paging": false,
					"language": {
						"info": "Showing _TOTAL_ entries",
					},
				});
			} );
		</script>
	</head>
	<body>
		<header class="navbar navbar-expand navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Serlo-Team Portal</a>
		</header>

		<div class="container-fluid">
			<div class="row">
				<nav class="col-12 col-md-2 bg-light sidebar">
					<ul class="nav nav-pills flex-column">
						{% macro toc_item(name) %}
						<li class="nav-item"><a class="nav-link" href="#{{name|urlencode}}">{{name}}</a></li>
						{% endmacro %}
						{{ toc_item("Projekte") }}
						{{ toc_item("Support-Units") }}
						{{ toc_item("Teammitglieder") }}
					</ul>
				</nav>
				<main role="main" class="col-12 col-md-10">
					{% macro render_units(units, name) %}
						{{ section(name) }}
						{% call(project) generate_table(units,
							["Name", "Lama", "Beschreibung", "Mitglieder"]) %}
							<td>{{ project.name }}</td>
							<td>{{ print_person(project.person_responsible) }}</td>
							<td>{{ project.description }}</td>
							<td>
								{% call(person) generate_list(project.members) %}
									{{ print_person(person) }}
								{% endcall %}
							</td>
						{% endcall %}
					{% endmacro %}
					{{ render_units(serlo.projects, "Projekte") }}
					{{ render_units(serlo.support_units, "Support-Units") }}

					{{ section("Teammitglieder") }}
					{% call(member) generate_table(serlo.persons, ["Name", "E-Mail", "Nummer"]) %}
						<td id="{{member.id}}">{{ member.name }}</td>
						<td>
							{% call(email) generate_list(member.emails) %}
								<a href="mailto:{{email.address}}">{{email.address}}</a>
							{% endcall %}
						</td>
						<td>
							{% call(phone_number) generate_list(member.phone_numbers) %}
								<a href="tel:{{phone_number.number}}">{{phone_number.number}}</a>
							{% endcall %}
						</td>
					{% endcall %}
				</main>
			</div>
		</div>
	</body>
</html>
