<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Serlo-Team Portal</title>
		<link href="./favicon.ico" rel="icon" type="image/x-icon">
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<h1>Serlo-Team Portal</h1>
		<h2>Inhaltsverzeichnis</h2>
		<ol>
			<li><a href="#projects">Projekte</a></li>
		</ol>
		<h2 id="projects">Projekte</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Projektname</th>
					<th>Lama</th>
					<th>Projektbeschreibung</th>
					<th>Projektmitglieder</th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
				<tr>
					<td>{{ project.name }}</td>
					<td>{{ project.lama.name }}</td>
					<td>{{ project.description }}</td>
					<td>
						<ul>
							{% for person in project.members %}
							<li>{{ person.name }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
